@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIENVENIDO A MI APLICACION</h1>
    <p class="lead">Esta es una aplicacion donde muestro mis habilidades para realizar un CRUD, usar JScritp y Bootstrap.</p>
    <p><a href="" class="btn btn-primary btn-lg">Mas &raquo;</a></p>
</div>
